@import url('https://fonts.googleapis.com/css?family=Katibeh&display=swap');
.git{
  text-decoration: underline;
  font-family: 'Katibeh', cursive;
   font-size: 25px;
}
#s{
  font-weight: bold;
  font-family: 'Katibeh', cursive;
  font-size: 25px;
}