@import "~bootstrap/dist/css/bootstrap.css";



body{
    background-image:url("https://pikwizard.com/photos/5de6f9dadb8db1e4556b890bbbb8c514-m.jpg");
background-size: cover;
background-repeat: no-repeat;
color: white;
background-attachment: fixed;

}
.overlay{
    z-index: 2;
    background-image: url("https://pikwizard.com/photos/5de6f9dadb8db1e4556b890bbbb8c514-m.jpg");
}
.card{
    background-color:white;
    color:black;
    height:90%;
}



